<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}My Portfolio{% endblock %}</title>
    <!-- Load static files -->
    {% load static %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
<div class="mt-4 ">
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light ml-4">
        <a class="navbar-brand font-weight-bold" href="mailto:bastialora258@gmail.com">bastialora258@gmail.com</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav font-weight-bold ">
                <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'project' %}">Projects</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact Me</a></li>
            </ul>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container my-4">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Include Footer -->
    {% include 'base/footer.html' %}
</div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
