<!-- base/templates/base/footer.html -->
<footer class="bg-dark text-white text-center p-4 mt-4">
     <div class="container">
         <h5 class="mb-3">Connect with me:</h5>
         <div class="social-icons">
             <a href="https://www.linkedin.com/in/r-s-lora-20343a245/" target="_blank" class="text-white mx-3" title="LinkedIn">
                 <i class="fab fa-linkedin fa-lg"></i>
             </a>
             <a href="https://github.com/LORA-2000" target="_blank" class="text-white mx-3" title="GitHub">
                 <i class="fab fa-github fa-lg"></i>
             </a>
             <a href="https://leetcode.com/u/Lora_2000/" target="_blank" class="text-white mx-3" title="LeetCode">
                 <i class="fab fa-leanpub fa-lg"></i> <!-- Using Leanpub as a placeholder -->
             </a>
             <a href="https://twitter.com/your-twitter" target="_blank" class="text-white mx-3" title="Twitter">
                 <i class="fab fa-twitter fa-lg"></i>
             </a>
         </div>
         <div class="mt-3">
             <p class="mb-1">© 2024 R S Lora. All Rights Reserved.</p>
             <p><small>Designed with passion</small></p>
         </div>
     </div>
 </footer>
 